body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  
}

.container{
	background-image: url(header.jpg);
	background-size: cover;
	background-position:  center;
	height: 100%;
	width: 100%
	
}

.mymenu{
	width: 100%;
	text-align: right;
	font-family: 'Sacramento', cursive;	
	font-size: 1.7rem;
	text-transform: capitalize;
	
}
.elmentmymenu{
	color: #D54E7B;
	font-weight: bold;
}
.elmentmymenu:hover{
	color: #C02D5E;
}

hr{
	margin-top: 400px;
}
.btn{
	background-color: #E7749B;
	color: #2F0010;
	border-color: #F1A2BD;
}
.enregistrement{
	text-align:  center;
}

.btn:hover{
	background-color: #F1A2BD;
	border-color: #F1A2BD
}